.box{
    -fx-min-height: 500;
    -fx-min-width: 500;
    -fx-padding: 10, 10, 10, 10;
    -fx-background-color: purple;
    -fx-alignment: CENTER;
}

.label-title{
    -fx-text-fill: orange;
    -fx-font-size: 150;
}

.label-punten{
    -fx-text-fill: orange;
    -fx-font-size: 200;
}

.label-subtitle{
    -fx-text-fill: orange;
    -fx-font-size: 150;
}

.label-restartGame{
    -fx-text-fill: orange;
    -fx-font-size: 100;
    -fx-text-alignment: CENTER;
}