.box {
    -fx-font-style: 'https://fonts.google.com/specimen/Baloo+Bhai';
    -fx-min-height: 500;
    -fx-min-width: 500;
    -fx-padding: 10, 10, 10, 10;
    -fx-background-color: purple;
    -fx-alignment: CENTER;
}

.label-title {
    -fx-text-fill: orange;
    -fx-font-size: 250px;
}

.label-subtitle {
    -fx-text-fill: orange;
    -fx-font-size: 150px;
}

.button-knopStart {
    -fx-background-color: orange;
    -fx-font-size: 125px;
    -fx-min-width: 1000px;
    -fx-min-height: 200px;

}